*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    margin-top: 50px;
    
    width: 50%;
    align-self: center;
    margin: auto;
    height: 50%;
    border-radius: 10px;
}
h1{
    color:white;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
}
.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding: 30px;
    margin: auto;
   
}
select{
    width: 30%;
    align-self: center;
    margin-top: 20px;
    margin: auto;
    
}
form{
    
    margin-bottom: 20px;
    margin-top: 20px;
    width: 30%;
    align-self: center;
}
button{
    padding: 5px;
    margin-top:10px;
    
}